:root {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
    background: rgb(0, 0, 0);

}
[id] {
  scroll-margin-top: 6rem; /* Adjust to your navbar height */
}

html {
  scroll-behavior: smooth;
}
.scrollsdown::-webkit-scrollbar {
  height: 0px;
}
@tailwind base;
@tailwind components;
@tailwind utilities;